.md ul {
    list-style-type: square;
    list-style-position: inside;
}

.md h1, .md h2, .md h3, .md h4 {
    margin:0;
    margin-bottom: 0.5em;
    color: #037;
}

.md a {
    color: #07F;
}

.md code, .md pre {
    background-color: #FFC;
}

.md code {
    font-family: monospace;
}

.md pre {
    display: inline-block;
    padding: 0.5em;
}
