* {
    margin:             0;
    border:             0;
    padding:            0;
}

body {
    font-family:        sans-serif;
}

textarea, div {
    font-family:        monospace;
    font-size:          20px;
    position:           fixed;
    left:               0;
    right:              0;
    top:                0;
    bottom:             0;
    padding:            20px;
}

div {
    overflow-y:         auto;
}

textarea {
    border:             2px solid red;
}

span {
    position:           fixed;
    right:              4px;
    top:                4px;
}

button {
    font-family:        sans-serif;
    font-size:          20px;
    padding:            6px 12px;
    color:              white;
    border-radius:      6px;
    cursor:             pointer;
    text-shadow:        1px 1px 2px #000;
    background:         #1e5799;
    background:         -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
    background:         -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8));
    background:         -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
    background:         -o-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
    background:         -ms-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
    background:         linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
    filter:             progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0);
}

button, textarea {
    outline:            none;
}

button:hover, button:focus {
    border:             2px solid #1e5799;
    padding:            4px 10px;
}
